<div class="blog-sidebar-categories">
    <h3 class="blog-heading"><span>Categories</span></h3>

    {% set blogCategoryHierarchy = services.category.getHierarchy(category.id) %}
    {% include "Blog::Sidebar.Components.Categories.CategoryList" with { 'blogCategoryTree': categories, 'blogUrlTree' : '' }  %}

</div>

