{% set showSidebarLatestPosts = config('Blog.sidebar.latestposts.display') %}
{% set showSidebarCategories = config('Blog.sidebar.categories.display') %}


{% if not isSearchPage %}
    <div class="blog-sidebar-section">
        <client-only>
            <blog-search></blog-search>
        </client-only>
    </div>
{% endif %}

{% if showSidebarCategories == "true" %}
    <div class="blog-sidebar-section">
        {% include "Blog::Sidebar.Components.Categories" %}
    </div>
{% endif %}

{% if showSidebarLatestPosts == "true" %}
    <div class="blog-sidebar-section">
        <client-only>
            <blog-latest-posts></blog-latest-posts>
        </client-only>
    </div>
{% endif %}