{% if isSearchPage is empty %}
    {% set isSearchPage = false %}
{% endif %}
{% set showLatestPosts = config('Blog.sidebar.latestposts.display') %}


{% if not isSearchPage %}
    <div class="blog-sidebar-section">
        <blog-search></blog-search>
    </div>
{% endif %}

<div class="blog-sidebar-section">
    {% include "Blog::Sidebar.Components.Categories" %}
</div>

{% if showLatestPosts == "true" %}
    <div class="blog-sidebar-section">
        <blog-latest-posts></blog-latest-posts>
    </div>
{% endif %}