#page-header {
    .breadcrumbs {
        display:none !important;
    }
}

.blog-wrapper {
    // This is here if theme creators need to change the background of the blog page
    background:white;

    a:not(.blog-post):not(.blog-action-readmore):not(.btn):hover {
        text-decoration:underline;
    }

    .blog-search {
        .blog-search-wrap {
            position:relative;

            .blog-search-input {
                height:40px;
                width:100%;
                line-height:40px;
                padding:0 45px 0 15px;
                border:#eee solid 1px;
                outline:none;
                font-size:15px;
                @include blog-animated;
                @include blog-border-radius;

                &:focus, &:active, &:hover {
                    border-color:$color-primary;
                    @include blog-box-shadow(0px 1px 3px rgba(0,0,0,.2))
                }
            }

            .blog-search-submit {
                position:absolute;
                right:0;
                top:0;
                height:40px;
                width:40px;
                background:none;
                border:none;
                font-size:17px;
                @include blog-border-radius;
            }
        }
    }
}

.blog-container {
    padding-top:40px;
    min-height:530px;

    .blog-row-small-gutters {
        margin-left:-10px;
        margin-right:-10px;

        .blog-col-small-gutters {
            padding-left:10px;
            padding-right:10px;
        }
    }
}

.blog-header {
    background-color:$light-bg-color;
    background-size:cover;
    border-bottom:$border-color solid 1px;
    padding:35px 0;

    //.container-max {
    //    @include blog-breakpoint(desktop) {
    //        padding-left:0;
    //    }
    //}

    .blog-category-name {
        margin:0;
        line-height:40px;
    }

    .blog-search {
        max-width:640px;
        margin:20px auto 0;
        padding:0 20px;

        .blog-search-wrap {
            .blog-search-input {
                font-size:21px;
                height:44px;
                padding-left:15px;
            }

            .blog-search-submit {
                height:44px;
                width:44px;
            }

        }
    }

    // The wrap reserves space for when the component is loaded
    .blog-breadcrumbs {
        height:33px;
        display:block;
    }

    .blog-breadcrumbs > nav {
        font-size:13px;
        padding:0;
        display:block !important;

        ul.breadcrumb {
            padding:5px 0;
            background:transparent !important;

            li.breadcrumb-item {

                a {
                    color:$color-text;
                }
                span, &:before {
                    color:$color-muted;
                }
                a, span {
                    padding:0 5px;
                    line-height:23px;
                }
            }
        }
    }

}


.blog-load-more {
    text-align:center;

    .blog-btn-load-more {
        display:inline-block;
        width:auto;
        padding:15px 50px;
        margin-bottom:70px;
        background:#efefef;
        @include blog-border-radius;
        @include blog-animated;

        &:hover {
            background:$color-primary;
            color:white;
            padding:15px 60px;
        }
    }
}

.blog-sidebar {
    .blog-sidebar-section {
        margin-bottom:50px;

        .blog-sidebar-title {
            margin-bottom:20px;
            font-size:22px;
            font-weight:bold;
        }
    }
}


.blog-recent-posts {
    .blog-sidebar-loading {
        text-align:center;
    }
}



.clear {
    clear:both;
    display:block;
    width:100%;
}