
.blog-wrapper {
    // This is here if theme creators need to change the background of the blog page
}

.blog-container {
    padding:30px 0 0 0;

    .blog-row-small-gutters {
        margin-left:-10px;
        margin-right:-10px;

        .blog-col-small-gutters {
            padding-left:10px;
            padding-right:10px;
        }
    }
}

.blog-header {
    .blog-category-name {
        text-align:center;
        margin-bottom:45px;
        padding-top:10px;
    }
}

#blog-posts {
    .blog-post-image-fullwidth {
        height:300px;
        object-fit:cover;
    }
}

.blog-post {
    background:white;
    margin-bottom:40px;
    padding:20px;
    border-radius:3px;
    @include blog-box-shadow(0px 2px 6px rgba(0, 0, 0, 0.07));

    .blog-post-header {
        text-align:center;

        .blog-category-name, .blog-details .blog-detail {
            color:#aaa;
        }

        .blog-category-name {
            font-weight:bold;
        }

        .blog-post-name {
            font-weight:bold;
            font-size:30px;
        }

        .blog-details {

            .blog-detail {
                font-size:13px;
                padding:0 10px;
                border-right:#eee solid 2px;

                &.blog-detail-author, a {
                    color:#de846b;
                }

                &:last-of-type {
                    border-right:none;
                }
            }
        }
    }

    .blog-post-image {
        margin-bottom:20px;
        border-radius:3px;

        &.blog-post-image-fullwidth {
            width:100%;
        }
    }

    .blog-actions {
        text-align:center;
    }

    .blog-body {
        p {
            margin-bottom:1.5em;
        }

        h1,h2,h3,h4,h5,h6 {
            line-height:1.46em;
        }
    }
}

.blog-sidebar {

    .blog-recent-posts {
        .blog-sidebar-title {
            border-bottom:#eee solid 2px;
            padding-bottom:12px;
            margin-bottom:15px;
        }

        .blog-sidebar-loading {
            text-align:center;
        }

        .blog-recent-post {
            margin-bottom:20px;
            display:block;

            .blog-recent-post-title {
                padding:10px 0;
            }

            .blog-recent-post-image {
                width:90px;
                height:90px;
                object-fit:cover;
                float:left;
                margin-right:15px;
                border-radius:3px;
            }
        }
    }

    .blog-sidebar-example-block {
        background:white;
        margin-bottom:20px;

        p {
            padding:100px 0;
            margin:0;
            text-align:center;
        }

        p.blog-example-larger-block {
            padding:200px 0;
        }

    }
}



.clear {
    clear:both;
    display:block;
    width:100%;
}