
.blog-wrapper {
    // This is here if theme creators need to change the background of the blog page
    background:white;
    font-family:$font-roboto;

    .blog-search {
        .blog-search-wrap {
            position:relative;

            .blog-search-input {
                height:34px;
                width:100%;
                line-height:34px;
                padding:0 45px 0 7px;
                border:#eee solid 1px;
                outline:none;
                @include blog-animated;
                @include blog-border-radius;

                &:focus, &:active, &:hover {
                    border-color:$color-primary;
                    @include blog-box-shadow(0px 1px 3px rgba(0,0,0,.2))
                }
            }

            .blog-search-submit {
                position:absolute;
                right:0;
                top:0;
                height:34px;
                width:34px;
                background:none;
                border:none;
                font-size:17px;
                @include blog-border-radius;
            }
        }
    }

}

.blog-container {
    padding:40px 0 0 0;
    min-height:530px;

    .blog-row-small-gutters {
        margin-left:-10px;
        margin-right:-10px;

        .blog-col-small-gutters {
            padding-left:10px;
            padding-right:10px;
        }
    }
}

.blog-header {
    background:$light-bg-color;
    border-bottom:$border-color solid 1px;
    padding:30px 0;

    .blog-category-name {
        text-align:center;
        margin:0;
    }

    .blog-search {
        max-width:640px;
        margin:20px auto 0;
        padding:0 20px;

        .blog-search-wrap {
            .blog-search-input {
                font-size:21px;
                height:44px;
                padding-left:15px;
            }

            .blog-search-submit {
                height:44px;
                width:44px;
            }

        }
    }

}

.blog-posts, .blog-single {
    padding-right:20px;
}

.blog-posts {
    .blog-post-image-fullwidth {
        height:300px;
        object-fit:cover;
    }
}

.blog-post {
    margin-bottom:70px;
    //@include blog-box-shadow(0px 2px 15px transparent);
    //@include blog-border-radius;
    //@include blog-animated;

    //&:hover {
    //    @include blog-box-shadow(0px 2px 10px rgba(0,0,0,.07));
    //}

    .blog-post-content {
        padding:30px 30px 20px;
        border:$border-color solid 1px;
        border-top:none;
        @include blog-border-radius(0 0 3px 3px);
    }

    .blog-post-header {

        .blog-category-name, .blog-details .blog-detail {
            color:$color-muted;
        }

        .blog-category-name {
            color:$color-primary;
            font-size:13px;
        }

        .blog-post-title {
            color:$color-text;
            font-weight:bold;
            font-size:27px;
            margin-bottom:17px;
        }


        .blog-details {
            .blog-detail {
                font-size:13px;

                &.blog-detail-author {
                    .blog-detail-author-name {
                        color:$color-primary;
                    }
                }
            }
        }
    }


    .blog-post-image {
        @include blog-border-radius(3px 3px 0 0);

        &.blog-post-image-fullwidth {
            width:100%;
        }
    }

    .blog-post-shortdescription {
        margin-bottom:20px;
        font-size:15px;
    }

    .blog-actions {
        font-size:14px;

        .blog-action-readmore {
            border-bottom:transparent solid 1px;
            padding:5px 15px 5px 0;
            position:relative;
            @include blog-animated;

            &:after, &:before {
                content:'\f105';
                font-family: "FontAwesome";
                position:absolute;
                font-size:14px;
                top:4px;
                @include blog-animated;
            }

            &:after {
                right:4px;
            }

            &:before {
                right:12px;
                opacity:0;
            }

            &:hover {
                border-bottom-color:$color-primary;

                &:after {
                    right:0;
                }

                &:before {
                    right:4px;
                    opacity:1;
                }
            }
        }

    }

    .blog-body {
        p {
            margin-bottom:1.5em;
        }

        h1,h2,h3,h4,h5,h6 {
            line-height:1.46em;
        }
    }

    .blog-tags {
        margin-bottom:0;
        padding-top:20px;
        border-top:$border-color solid 1px;
    }
}

.blog-single {
    .blog-post {
        .blog-post-content {
            //border:none;
        }
    }
}

.blog-load-more {
    text-align:center;

    .blog-btn-load-more {
        display:inline-block;
        width:auto;
        padding:15px 50px;
        margin-bottom:70px;
        background:#efefef;
        @include blog-border-radius;
        @include blog-animated;

        &:hover {
            background:$color-primary;
            color:white;
            padding:15px 60px;
        }
    }
}

.blog-sidebar {

    .blog-sidebar-section {
        margin-bottom:50px;

        .blog-sidebar-title {
            margin-bottom:15px;
            font-size:15px;
            text-transform:uppercase;
            text-align:center;
            position:relative;

            span {
                background:white;
                position:relative;
                padding:0 20px;
                z-index:2;
            }

            &:before {
                content:'';
                width:100%;
                height:1px;
                background:#efefef;
                position:absolute;
                display:block;
                top:50%;
                left:0;
                z-index:1;
            }
        }
    }

    .blog-recent-posts {

        .blog-sidebar-loading {
            text-align:center;
        }

        .blog-recent-post {
            margin-bottom:20px;
            display:block;

            .blog-recent-post-title {
                margin-bottom:5px;
                padding-top:4px;
                color:$color-text;
                font-weight:600;
                font-size:15px;
                overflow:hidden;
                text-overflow:ellipsis;
                display:-webkit-box;
                -webkit-box-orient:vertical;
                -webkit-line-clamp:2;
                line-height:18px;
                max-height:40px;
            }

            .blog-recent-post-date {
                color:$color-muted;
                font-size:12px;
                margin-bottom:0;
            }

            .blog-recent-post-image {
                width:90px;
                height:65px;
                object-fit:cover;
                float:left;
                margin-right:15px;
                border-radius:3px;
            }

            &:hover {
                .blog-recent-post-title {
                    color:$color-primary;
                }
            }
        }
    }

}

.blog-dummy-post {
    opacity:.15;
    margin-bottom:-150px;
    position:relative;

    .blog-post-image {
        background: $color-muted;
        height: 100px;
    }

    span {
        background:currentColor;
        min-width:125px;
        display:inline-block;
        color:$color-muted;
        @include blog-border-radius;

        &:before {
            content:'|';
            opacity:0;
        }

        &.blog-detail-author {
            background:transparent;
            min-width:0;

            &:before {
                content:'';
            }
        }
    }

    .blog-post-content {
        border-color:$color-muted;
    }

    .blog-dummy-fullwidth {
        width:100% !important;
    }

    .blog-category-name span, .blog-action-readmore, .blog-detail-author-name span {
        color:$color-primary;
    }

    .blog-post-title {
        span {
            @include blog-border-radius(0 0 3px 3px);
            width:50%;

            &.blog-dummy-fullwidth {
                @include blog-border-radius(3px 3px 3px 0);
            }
        }
    }

    .blog-post-shortdescription {
        line-height:15px;
        span {
            line-height:7px;
        }
    }

    .blog-actions {
        .blog-action-readmore {

            &:after, &:before {
                content:'';
            }
        }
    }

    .blog-details {
        .blog-avatar {
            min-width:0;
            @include blog-border-radius(50%);
        }
        span {
            vertical-align: middle;
        }
    }

    &:after {
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        position: absolute;
    }

}

.clear {
    clear:both;
    display:block;
    width:100%;
}