{% set categoryBreadcrumbs = services.category.getHierarchy() %}
{% set searchFilter = {'search': searchString}  %}


{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>Search | {{ ceresConfig.header.companyName }}</title>
{% endblock %}

{% block PageBody %}

    <div class="blog-wrapper">
        <section class="blog-header">
            <h1 class="blog-category-name">
                Search
            </h1>

            <blog-search is-search-page initial-search-string= "{{ searchString }}"></blog-search>

        </section>

        <div class="container-max blog-container">

            <div class="row blog-row-small-gutters">
                <div class="col-md-9 blog-col-small-gutters">

                    <blog-list is-search-page
                               filters ="{{ searchFilter | json_encode }}">
                    </blog-list>

                </div>

                <div class="col-md-3 blog-sidebar blog-col-small-gutters">
                    {% include "Blog::Category.Blog.Partials.Sidebar" with { 'isSearchPage': true } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}