@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
/* line 5, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-avatar {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 10, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-avatar.blog-avatar-md {
  width: 38px;
  height: 38px;
  margin-right: 3px;
}

/* line 17, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-dot-loading {
  margin: 0 auto 30px;
  width: 70px;
  text-align: center;
  padding: 10px 0;
}

/* line 23, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-dot-loading i {
  margin-right: 10px;
}

/* line 27, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-dot-loading > div {
  width: 14px;
  height: 14px;
  background-color: #7e93a9;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

/* line 38, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-dot-loading .blog-dot-1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

/* line 42, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-dot-loading .blog-dot-2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* line 63, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.text-center {
  text-align: center;
}

/* line 2, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-wrapper {
  background: white;
  font-family: "Roboto", sans-serif;
}

/* line 8, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-wrapper .blog-search .blog-search-wrap {
  position: relative;
}

/* line 11, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-wrapper .blog-search .blog-search-wrap .blog-search-input {
  height: 40px;
  width: 100%;
  line-height: 40px;
  padding: 0 45px 0 15px;
  border: #eee solid 1px;
  outline: none;
  font-size: 15px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 22, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-wrapper .blog-search .blog-search-wrap .blog-search-input:focus, .blog-wrapper .blog-search .blog-search-wrap .blog-search-input:active, .blog-wrapper .blog-search .blog-search-wrap .blog-search-input:hover {
  border-color: #1976d2;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

/* line 28, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-wrapper .blog-search .blog-search-wrap .blog-search-submit {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background: none;
  border: none;
  font-size: 17px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 44, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-container {
  padding: 40px 0 0 0;
  min-height: 530px;
}

/* line 48, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-container .blog-row-small-gutters {
  margin-left: -10px;
  margin-right: -10px;
}

/* line 52, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-container .blog-row-small-gutters .blog-col-small-gutters {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 59, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header {
  background-color: #f7f7f9;
  background-size: cover;
  border-bottom: #f1f1f1 solid 1px;
  padding: 35px 0;
}

/* line 65, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-category-name {
  margin: 0;
  line-height: 40px;
}

/* line 70, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-search {
  max-width: 640px;
  margin: 20px auto 0;
  padding: 0 20px;
}

/* line 76, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-search .blog-search-wrap .blog-search-input {
  font-size: 21px;
  height: 44px;
  padding-left: 15px;
}

/* line 82, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-search .blog-search-wrap .blog-search-submit {
  height: 44px;
  width: 44px;
}

/* line 91, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-breadcrumbs {
  height: 33px;
  display: block;
}

/* line 95, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header #vue-rendered-breadcrumbs {
  font-size: 13px;
  padding: 0;
  display: block !important;
}

/* line 100, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header #vue-rendered-breadcrumbs ul.breadcrumb {
  padding: 5px 0;
  background: transparent !important;
}

/* line 106, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header #vue-rendered-breadcrumbs ul.breadcrumb li.breadcrumb-item a {
  color: #4d4f4d;
}

/* line 109, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header #vue-rendered-breadcrumbs ul.breadcrumb li.breadcrumb-item span, .blog-header #vue-rendered-breadcrumbs ul.breadcrumb li.breadcrumb-item:before {
  color: #7e93a9;
}

/* line 112, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header #vue-rendered-breadcrumbs ul.breadcrumb li.breadcrumb-item a, .blog-header #vue-rendered-breadcrumbs ul.breadcrumb li.breadcrumb-item span {
  padding: 0 5px;
  line-height: 23px;
}

/* line 127, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-posts .blog-post-image-fullwidth {
  height: 300px;
  object-fit: cover;
}

/* line 132, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-posts .blog-post {
  padding-bottom: 20px;
  border-bottom: #f1f1f1 solid 1px;
}

/* line 138, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post {
  margin-bottom: 50px;
}

/* line 149, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-content {
  padding: 30px 20px 20px;
}

/* line 158, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-header .blog-category-name, .blog-post .blog-post-header .blog-details .blog-detail {
  color: #7e93a9;
}

/* line 162, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-header .blog-category-name {
  color: #1976d2;
  font-size: 13px;
}

/* line 167, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-header .blog-post-title {
  color: #4d4f4d;
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 10px;
  display: inline-block;
}

/* line 177, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-header .blog-details .blog-detail {
  font-size: 13px;
}

/* line 181, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-header .blog-details .blog-detail.blog-detail-author .blog-detail-author-name {
  color: #1976d2;
}

/* line 190, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-image {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 193, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-image.blog-post-image-fullwidth {
  width: 100%;
}

/* line 198, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-shortdescription {
  margin-bottom: 20px;
  font-size: 15px;
}

/* line 203, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-actions {
  font-size: 14px;
}

/* line 206, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-actions .blog-action-readmore {
  border-bottom: transparent solid 1px;
  padding: 5px 15px 5px 0;
  position: relative;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* line 212, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-actions .blog-action-readmore:after, .blog-post .blog-actions .blog-action-readmore:before {
  content: '\f105';
  font-family: "FontAwesome";
  position: absolute;
  font-size: 14px;
  top: 4px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* line 221, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-actions .blog-action-readmore:after {
  right: 4px;
}

/* line 225, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-actions .blog-action-readmore:before {
  right: 12px;
  opacity: 0;
}

/* line 230, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-actions .blog-action-readmore:hover {
  border-bottom-color: #1976d2;
}

/* line 233, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-actions .blog-action-readmore:hover:after {
  right: 0;
}

/* line 237, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-actions .blog-action-readmore:hover:before {
  right: 4px;
  opacity: 1;
}

/* line 246, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-body {
  margin-bottom: 20px;
}

/* line 249, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-body p {
  margin-bottom: 1.5em;
}

/* line 253, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-body h1, .blog-post .blog-body h2, .blog-post .blog-body h3, .blog-post .blog-body h4, .blog-post .blog-body h5, .blog-post .blog-body h6 {
  line-height: 1.46em;
}

/* line 258, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-tags {
  margin-bottom: 0;
  padding-top: 20px;
  border-top: #f1f1f1 solid 1px;
}

/* line 273, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-load-more {
  text-align: center;
}

/* line 276, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-load-more .blog-btn-load-more {
  display: inline-block;
  width: auto;
  padding: 15px 50px;
  margin-bottom: 70px;
  background: #efefef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* line 285, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-load-more .blog-btn-load-more:hover {
  background: #1976d2;
  color: white;
  padding: 15px 60px;
}

/* line 293, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar {
  padding-left: 35px;
}

/* line 296, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-sidebar-section {
  margin-bottom: 50px;
}

/* line 299, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-sidebar-section .blog-sidebar-title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

/* line 335, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-recent-posts .blog-sidebar-loading {
  text-align: center;
}

/* line 339, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-recent-posts .blog-recent-post {
  margin-bottom: 20px;
  display: block;
}

/* line 343, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-recent-posts .blog-recent-post .blog-recent-post-title {
  margin-bottom: 5px;
  padding-top: 4px;
  color: #4d4f4d;
  font-weight: 600;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 18px;
  max-height: 40px;
}

/* line 358, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-recent-posts .blog-recent-post .blog-recent-post-date {
  color: #7e93a9;
  font-size: 12px;
  margin-bottom: 0;
}

/* line 364, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-recent-posts .blog-recent-post .blog-recent-post-image {
  width: 90px;
  height: 65px;
  object-fit: cover;
  float: left;
  margin-right: 15px;
  border-radius: 3px;
}

/* line 374, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-recent-posts .blog-recent-post:hover .blog-recent-post-title {
  color: #1976d2;
}

/* line 383, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post {
  opacity: .15;
  margin-bottom: -150px;
  position: relative;
}

/* line 388, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post .blog-post-image {
  background: #7e93a9;
  height: 100px;
}

/* line 393, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post span {
  background: currentColor;
  min-width: 125px;
  display: inline-block;
  color: #7e93a9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 400, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post span:before {
  content: '|';
  opacity: 0;
}

/* line 405, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post span.blog-detail-author {
  background: transparent;
  min-width: 0;
}

/* line 409, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post span.blog-detail-author:before {
  content: '';
}

/* line 415, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post .blog-post-content {
  border-color: #7e93a9;
}

/* line 419, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post .blog-dummy-fullwidth {
  width: 100% !important;
}

/* line 423, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post .blog-category-name span, .blog-dummy-post .blog-action-readmore, .blog-dummy-post .blog-detail-author-name span {
  color: #1976d2;
}

/* line 427, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post .blog-post-title {
  display: block !important;
}

/* line 430, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post .blog-post-title span {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  width: 50%;
}

/* line 434, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post .blog-post-title span.blog-dummy-fullwidth {
  -webkit-border-radius: 3px 3px 3px 0;
  -moz-border-radius: 3px 3px 3px 0;
  border-radius: 3px 3px 3px 0;
}

/* line 440, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post .blog-post-shortdescription {
  line-height: 15px;
}

/* line 442, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post .blog-post-shortdescription span {
  line-height: 7px;
}

/* line 450, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post .blog-actions .blog-action-readmore:after, .blog-dummy-post .blog-actions .blog-action-readmore:before {
  content: '';
}

/* line 457, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post .blog-details .blog-avatar {
  min-width: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 461, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post .blog-details span {
  vertical-align: middle;
}

/* line 466, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-dummy-post:after {
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  position: absolute;
}

/* line 482, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.clear {
  clear: both;
  display: block;
  width: 100%;
}

/*# sourceMappingURL=../css/main.map */