/* line 6, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-container {
  padding: 30px 0 0 0;
}

/* line 9, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-container .blog-row-small-gutters {
  margin-left: -10px;
  margin-right: -10px;
}

/* line 13, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-container .blog-row-small-gutters .blog-col-small-gutters {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 21, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-category-name {
  text-align: center;
  margin-bottom: 45px;
  padding-top: 35px;
}

/* line 29, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
#blog-posts .blog-post-image-fullwidth {
  height: 300px;
  object-fit: cover;
}

/* line 35, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post {
  background: white;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
  -o-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
}

/* line 42, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-header {
  text-align: center;
}

/* line 45, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-header .blog-category-name, .blog-post .blog-post-header .blog-details .blog-detail {
  color: #aaa;
}

/* line 49, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-header .blog-category-name {
  font-weight: bold;
}

/* line 53, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-header .blog-post-name {
  font-weight: bold;
  font-size: 30px;
}

/* line 60, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-header .blog-details .blog-detail {
  font-size: 13px;
  padding: 0 10px;
  border-right: #eee solid 2px;
}

/* line 65, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-header .blog-details .blog-detail.blog-detail-author, .blog-post .blog-post-header .blog-details .blog-detail a {
  color: #de846b;
}

/* line 69, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-header .blog-details .blog-detail:last-of-type {
  border-right: none;
}

/* line 76, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-image {
  margin-bottom: 20px;
  border-radius: 3px;
}

/* line 80, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-post-image.blog-post-image-fullwidth {
  width: 100%;
}

/* line 85, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-actions {
  text-align: center;
}

/* line 90, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-body p {
  margin-bottom: 1.5em;
}

/* line 94, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-post .blog-body h1, .blog-post .blog-body h2, .blog-post .blog-body h3, .blog-post .blog-body h4, .blog-post .blog-body h5, .blog-post .blog-body h6 {
  line-height: 1.46em;
}

/* line 103, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-recent-posts .blog-sidebar-title {
  border-bottom: #eee solid 2px;
  padding-bottom: 12px;
  margin-bottom: 15px;
}

/* line 109, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-recent-posts .blog-sidebar-loading {
  text-align: center;
}

/* line 113, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-recent-posts .blog-recent-post {
  margin-bottom: 20px;
  display: block;
}

/* line 117, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-recent-posts .blog-recent-post .blog-recent-post-title {
  padding: 10px 0;
}

/* line 121, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-recent-posts .blog-recent-post .blog-recent-post-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  float: left;
  margin-right: 15px;
  border-radius: 3px;
}

/* line 132, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-sidebar-example-block {
  background: white;
  margin-bottom: 20px;
}

/* line 136, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-sidebar-example-block p {
  padding: 100px 0;
  margin: 0;
  text-align: center;
}

/* line 142, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-sidebar-example-block p.blog-example-larger-block {
  padding: 200px 0;
}

/* line 151, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.clear {
  clear: both;
  display: block;
  width: 100%;
}

/*# sourceMappingURL=../css/main.map */