/* line 5, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-avatar {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 10, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-avatar.blog-avatar-sm {
  width: 28px;
  height: 28px;
  margin-right: 3px;
}

/* line 16, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-avatar.blog-avatar-md {
  width: 38px;
  height: 38px;
  margin-right: 3px;
}

/* line 23, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-dot-loading {
  margin: 0 auto 30px;
  width: 70px;
  text-align: center;
  padding: 10px 0;
}

/* line 29, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-dot-loading i {
  margin-right: 10px;
}

/* line 33, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-dot-loading > div {
  width: 14px;
  height: 14px;
  background-color: #7e93a9;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

/* line 44, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-dot-loading .blog-dot-1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

/* line 48, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-dot-loading .blog-dot-2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* line 69, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.blog-heading {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

/* line 75, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/general/_global.scss */
.text-center {
  text-align: center;
}

/* line 2, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
#page-header .breadcrumbs {
  display: none !important;
}

/* line 7, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-wrapper {
  background: white;
}

/* line 11, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-wrapper a:not(.blog-post):not(.blog-action-readmore):not(.btn):hover {
  text-decoration: underline;
}

/* line 16, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-wrapper .blog-search .blog-search-wrap {
  position: relative;
}

/* line 19, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-wrapper .blog-search .blog-search-wrap .blog-search-input {
  height: 40px;
  width: 100%;
  line-height: 40px;
  padding: 0 45px 0 15px;
  border: #eee solid 1px;
  outline: none;
  font-size: 15px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 30, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-wrapper .blog-search .blog-search-wrap .blog-search-input:focus, .blog-wrapper .blog-search .blog-search-wrap .blog-search-input:active, .blog-wrapper .blog-search .blog-search-wrap .blog-search-input:hover {
  border-color: var(--primary);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

/* line 36, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-wrapper .blog-search .blog-search-wrap .blog-search-submit {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background: none;
  border: none;
  font-size: 17px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 51, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-container {
  padding-top: 40px;
  min-height: 530px;
}

/* line 55, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-container .blog-row-small-gutters {
  margin-left: -10px;
  margin-right: -10px;
}

/* line 59, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-container .blog-row-small-gutters .blog-col-small-gutters {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 66, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header {
  background-color: #f7f7f9;
  background-size: cover;
  border-bottom: #f1f1f1 solid 1px;
  padding: 35px 0;
}

/* line 78, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-category-name {
  margin: 0;
  line-height: 40px;
}

/* line 83, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-search {
  max-width: 640px;
  margin: 20px auto 0;
  padding: 0 20px;
}

/* line 89, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-search .blog-search-wrap .blog-search-input {
  font-size: 21px;
  height: 44px;
  padding-left: 15px;
}

/* line 95, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-search .blog-search-wrap .blog-search-submit {
  height: 44px;
  width: 44px;
}

/* line 104, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-breadcrumbs {
  height: 33px;
  display: block;
}

/* line 109, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-breadcrumbs > nav {
  font-size: 13px;
  padding: 0;
  display: block !important;
}

/* line 114, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-breadcrumbs > nav ul.breadcrumb {
  padding: 5px 0;
  background: transparent !important;
}

/* line 120, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-breadcrumbs > nav ul.breadcrumb li.breadcrumb-item a {
  color: #4d4f4d;
}

/* line 123, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-breadcrumbs > nav ul.breadcrumb li.breadcrumb-item span, .blog-header .blog-breadcrumbs > nav ul.breadcrumb li.breadcrumb-item:before {
  color: #7e93a9;
}

/* line 126, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-header .blog-breadcrumbs > nav ul.breadcrumb li.breadcrumb-item a, .blog-header .blog-breadcrumbs > nav ul.breadcrumb li.breadcrumb-item span {
  padding: 0 5px;
  line-height: 23px;
}

/* line 137, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-load-more {
  text-align: center;
}

/* line 140, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-load-more .blog-btn-load-more {
  display: inline-block;
  width: auto;
  padding: 15px 50px;
  margin-bottom: 70px;
  background: #efefef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* line 149, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-load-more .blog-btn-load-more:hover {
  background: var(--primary);
  color: white;
  padding: 15px 60px;
}

/* line 158, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-sidebar-section {
  margin-bottom: 50px;
}

/* line 161, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-sidebar .blog-sidebar-section .blog-sidebar-title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

/* line 171, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.blog-recent-posts .blog-sidebar-loading {
  text-align: center;
}

/* line 178, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/_blog.scss */
.clear {
  clear: both;
  display: block;
  width: 100%;
}

/* line 3, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/sidebar/_categories.scss */
.blog-sidebar-categories ul {
  list-style: none;
  padding-left: 20px;
}

/* line 8, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/sidebar/_categories.scss */
.blog-sidebar-categories ul li {
  position: relative;
  margin-top: 2px;
}

/* line 12, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/sidebar/_categories.scss */
.blog-sidebar-categories ul li .blog-name-row-wrap {
  display: block;
  position: relative;
}

/* line 17, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/sidebar/_categories.scss */
.blog-sidebar-categories ul li .blog-name-row-wrap:hover .blog-sidebar-category-name {
  background: #f7f7f9;
}

/* line 21, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/sidebar/_categories.scss */
.blog-sidebar-categories ul li .blog-name-row-wrap:hover .blog-sidebar-category-toggler {
  background: #e8e8ee;
  opacity: 1;
}

/* line 28, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/sidebar/_categories.scss */
.blog-sidebar-categories ul li a {
  padding: 8px 12px;
  display: block;
  color: #4d4f4d;
  text-decoration: none !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 36, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/sidebar/_categories.scss */
.blog-sidebar-categories ul li a.blog-sidebar-category-name.active {
  font-weight: bold;
}

/* line 46, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/sidebar/_categories.scss */
.blog-sidebar-categories ul li a.blog-sidebar-category-toggler {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* line 55, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/sidebar/_categories.scss */
.blog-sidebar-categories ul li a.blog-sidebar-category-toggler i {
  font-size: 22px;
}

/* line 59, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/sidebar/_categories.scss */
.blog-sidebar-categories ul li a.blog-sidebar-category-toggler .blog-show-icon {
  display: none;
  line-height: 20px;
}

/* line 64, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/sidebar/_categories.scss */
.blog-sidebar-categories ul li a.blog-sidebar-category-toggler .blog-hide-icon {
  line-height: 16px;
}

/* line 70, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/sidebar/_categories.scss */
.blog-sidebar-categories ul li a.blog-sidebar-category-toggler.collapsed .blog-show-icon {
  display: inline;
}

/* line 73, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/sidebar/_categories.scss */
.blog-sidebar-categories ul li a.blog-sidebar-category-toggler.collapsed .blog-hide-icon {
  display: none;
}

/* line 83, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/sidebar/_categories.scss */
.blog-sidebar-categories > ul {
  padding-left: 0;
  border-left: none;
}

/* line 1, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post {
  padding-bottom: 20px;
}

/* line 4, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-post-content {
  padding-bottom: 20px;
}

/* line 8, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-post-image-fullwidth {
  max-height: 300px;
  object-fit: cover;
}

/* line 13, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-post-header {
  padding-bottom: 10px;
}

/* line 16, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-post-header .blog-category-name, .blog-single-post .blog-post-header .blog-details .blog-detail {
  color: #7e93a9;
}

/* line 20, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-post-header .blog-category-name {
  color: var(--primary);
  font-size: 13px;
}

/* line 25, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-post-header .blog-post-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2em;
  margin-bottom: 20px;
}

/* line 31, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-post-header .blog-post-title a {
  color: #4d4f4d;
}

/* line 37, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-post-header .blog-details .blog-detail {
  font-size: 13px;
}

/* line 41, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-post-header .blog-details .blog-detail.blog-detail-author .blog-avatar {
  margin-right: 10px;
}

/* line 45, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-post-header .blog-details .blog-detail.blog-detail-author .blog-detail-author-name {
  color: var(--primary);
}

/* line 53, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-post-image {
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 57, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-post-image.blog-post-image-fullwidth {
  width: 100%;
}

/* line 62, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-body {
  margin-bottom: 20px;
}

/* line 65, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-body p {
  margin-bottom: 1.5em;
}

/* line 69, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-body h1, .blog-single-post .blog-body h2, .blog-single-post .blog-body h3, .blog-single-post .blog-body h4, .blog-single-post .blog-body h5, .blog-single-post .blog-body h6 {
  line-height: 1.46em;
  font-weight: bold;
}

/* line 74, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-body img {
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 80, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-body blockquote {
  position: relative;
  font-size: 25px;
  padding: 30px 40px 20px;
  text-align: center;
}

/* line 86, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-body blockquote p {
  margin-bottom: 0;
}

/* line 90, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-body blockquote:before {
  content: "\201c";
  position: absolute;
  font-family: Georgia,Arial,sans-serif;
  z-index: 0;
  margin: 0;
  left: 50%;
  transform: translateX(-50%) rotate(1deg);
  color: #7e93a9;
  line-height: 40px;
  opacity: .11;
  font-size: 120px;
}

/* line 105, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-body hr {
  border-top-color: #f1f1f1;
}

/* line 110, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleDefault.scss */
.blog-single-post .blog-tags {
  margin-bottom: 0;
  padding: 15px 0;
  border-top: #f1f1f1 solid 1px;
  border-bottom: #f1f1f1 solid 1px;
}

/*.blog-layout-default {
    .blog-sidebar {
        @include blog-breakpoint(desktop) {
            padding-left:35px;
        }
    }
}

// Reverse layout
.blog-layout-default-reverse {
    .blog-sidebar {
        @include blog-breakpoint(desktop) {
            padding-right:35px;
        }
    }
}*/
/* line 2, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleCenter.scss */
#blog-single-layout-center .blog-header {
  background: none;
  border: none;
  padding: 0;
}

/* line 7, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleCenter.scss */
#blog-single-layout-center .blog-header .blog-category-name {
  margin-top: 25px;
}

/* line 12, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleCenter.scss */
#blog-single-layout-center .blog-container {
  padding-top: 0;
}

/* line 16, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleCenter.scss */
#blog-single-layout-center .blog-single-post {
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  /* line 19, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleCenter.scss */
  #blog-single-layout-center .blog-single-post .blog-post-title {
    padding: 0 10%;
  }
}

@media (min-width: 992px) {
  /* line 25, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleCenter.scss */
  #blog-single-layout-center .blog-single-post .blog-body {
    margin-bottom: 45px;
  }
}

/* line 31, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleCenter.scss */
#blog-single-layout-center .blog-single-post .blog-tags {
  font-family: Georgia, Arial, sans-serif;
  font-style: italic;
  padding: 25px 0;
}

/* line 36, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/article/_articleCenter.scss */
#blog-single-layout-center .blog-single-post .blog-tags .blog-tag {
  margin-left: 10px;
  color: #7e93a9;
}

/* line 4, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
.blog-four-featured .blog-four-featured-banner .blog-posts {
  padding: 3px;
}

/* line 7, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
.blog-four-featured .blog-four-featured-banner .blog-posts article {
  float: left;
  padding: 3px;
}

/* line 11, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
.blog-four-featured .blog-four-featured-banner .blog-posts article .blog-post-featured-1 {
  height: 100%;
}

/* line 14, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
.blog-four-featured .blog-four-featured-banner .blog-posts article .blog-post-featured-1 .blog-post-content {
  width: 100%;
  padding: 17px 20px;
  position: absolute !important;
  bottom: 0;
  right: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
}

/* line 28, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
.blog-four-featured .blog-four-featured-banner .blog-posts article .blog-post-featured-1 .blog-post-content .blog-post-header .blog-post-title {
  margin-bottom: 0;
}

/* line 32, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
.blog-four-featured .blog-four-featured-banner .blog-posts article .blog-post-featured-1 .blog-post-content .blog-post-header .blog-details {
  display: none;
}

/* line 36, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
.blog-four-featured .blog-four-featured-banner .blog-posts article .blog-post-featured-1 .blog-post-content .blog-post-header a {
  color: white;
}

/* line 43, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
.blog-four-featured .blog-four-featured-banner .blog-posts article .blog-post-featured-1 .blog-post-image-wrap {
  height: 100%;
  min-height: 100%;
}

/* line 47, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
.blog-four-featured .blog-four-featured-banner .blog-posts article .blog-post-featured-1 .blog-post-image-wrap .blog-post-image {
  height: 100%;
}

/* line 55, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
.blog-four-featured .blog-four-featured-banner .blog-posts article:nth-child(1) {
  width: 50%;
  height: 450px;
}

/* line 59, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
.blog-four-featured .blog-four-featured-banner .blog-posts article:nth-child(1) .blog-post-title {
  font-size: 27px;
}

/* line 64, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
.blog-four-featured .blog-four-featured-banner .blog-posts article:nth-child(2) {
  width: 50%;
  height: 225px;
}

/* line 68, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
.blog-four-featured .blog-four-featured-banner .blog-posts article:nth-child(2) .blog-post-title {
  font-size: 23px;
}

/* line 73, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
.blog-four-featured .blog-four-featured-banner .blog-posts article:nth-child(n+3) {
  width: 25%;
  height: 225px;
}

/* line 77, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
.blog-four-featured .blog-four-featured-banner .blog-posts article:nth-child(n+3) .blog-post-title {
  font-size: 17px;
}

@media (max-width: 991px) {
  /* line 83, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
  .blog-four-featured .blog-four-featured-banner .blog-posts article {
    width: 50% !important;
    height: 225px !important;
  }
  /* line 87, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
  .blog-four-featured .blog-four-featured-banner .blog-posts article .blog-post-title {
    font-size: 23px !important;
  }
}

@media (max-width: 576px) {
  /* line 94, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/category/_fourfeatured.scss */
  .blog-four-featured .blog-four-featured-banner .blog-posts article {
    width: 100% !important;
  }
}

/* line 1, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 {
  margin-bottom: 10px;
  position: relative;
}

/* line 5, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-post-content {
  padding: 20px 25px;
}

@media (min-width: 992px) {
  /* line 5, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
  .blog-post-featured-1 .blog-post-content {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
  }
}

/* line 18, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-heading {
  padding-bottom: 15px;
  border-bottom: #f1f1f1 solid 1px;
}

/* line 25, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-post-header .blog-category-name, .blog-post-featured-1 .blog-post-header .blog-details .blog-detail {
  color: #7e93a9;
}

/* line 29, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-post-header .blog-category-name {
  color: var(--primary);
  font-size: 13px;
}

/* line 34, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-post-header .blog-post-title {
  font-weight: bold;
  font-size: 37px;
  margin-bottom: 10px;
}

/* line 39, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-post-header .blog-post-title a {
  color: #4d4f4d;
}

/* line 44, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-post-header .blog-details {
  margin-bottom: 0;
}

/* line 47, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-post-header .blog-details .blog-detail {
  font-size: 13px;
}

/* line 51, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-post-header .blog-details .blog-detail.blog-detail-author .blog-avatar {
  margin-right: 10px;
}

/* line 55, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-post-header .blog-details .blog-detail.blog-detail-author .blog-detail-author-name {
  color: var(--primary);
}

/* line 64, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-post-image-wrap {
  background: #f7f7f9;
  min-height: 300px;
}

/* line 70, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-post-image.blog-post-image-fullwidth {
  width: 100%;
  max-height: 650px;
  object-fit: cover;
}

/* line 77, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-post-shortdescription {
  margin-bottom: 20px;
  font-size: 15px;
}

/* line 82, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-actions {
  font-size: 14px;
}

/* line 85, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-actions .blog-action-readmore {
  border-bottom: transparent solid 1px;
  padding: 5px 15px 5px 0;
  position: relative;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* line 91, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-actions .blog-action-readmore:after, .blog-post-featured-1 .blog-actions .blog-action-readmore:before {
  content: '\f105';
  font-family: "FontAwesome";
  position: absolute;
  font-size: 14px;
  top: 4px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* line 100, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-actions .blog-action-readmore:after {
  right: 4px;
}

/* line 104, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-actions .blog-action-readmore:before {
  right: 12px;
  opacity: 0;
}

/* line 109, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-actions .blog-action-readmore:hover {
  border-bottom-color: var(--primary);
}

/* line 112, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-actions .blog-action-readmore:hover:after {
  right: 0;
}

/* line 116, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-featured-1.scss */
.blog-post-featured-1 .blog-actions .blog-action-readmore:hover:before {
  right: 4px;
  opacity: 1;
}

/* line 1, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-horizontal-MD.scss */
.blog-post-horizontal-MD {
  margin-bottom: 20px;
  display: block;
}

/* line 5, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-horizontal-MD.scss */
.blog-post-horizontal-MD .blog-post-title {
  margin-bottom: 5px;
  padding-top: 4px;
  color: #4d4f4d;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.25em;
}

/* line 14, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-horizontal-MD.scss */
.blog-post-horizontal-MD .blog-post-date {
  color: #7e93a9;
  font-size: 12px;
  margin-bottom: 0;
  text-decoration: none !important;
}

/* line 21, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-horizontal-MD.scss */
.blog-post-horizontal-MD .blog-post-image {
  width: 100%;
  height: 130px;
  margin-bottom: 10px;
  background-color: #f7f7f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 28, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-horizontal-MD.scss */
.blog-post-horizontal-MD .blog-post-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 37, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-horizontal-MD.scss */
.blog-post-horizontal-MD a:hover .blog-post-title {
  color: var(--primary);
  text-decoration: underline;
}

/* line 1, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-horizontal-LG.scss */
.blog-post-horizontal-LG {
  margin-bottom: 35px;
  display: block;
}

/* line 5, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-horizontal-LG.scss */
.blog-post-horizontal-LG .blog-post-title {
  margin-bottom: 5px;
  padding-top: 4px;
  color: #4d4f4d;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.25em;
}

/* line 14, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-horizontal-LG.scss */
.blog-post-horizontal-LG .blog-post-date {
  color: #7e93a9;
  font-size: 12px;
  margin-bottom: 0;
  text-decoration: none !important;
}

/* line 21, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-horizontal-LG.scss */
.blog-post-horizontal-LG .blog-post-image {
  width: 100%;
  height: 290px;
  margin-bottom: 10px;
  background-color: #f7f7f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 28, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-horizontal-LG.scss */
.blog-post-horizontal-LG .blog-post-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 37, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-horizontal-LG.scss */
.blog-post-horizontal-LG a:hover .blog-post-title {
  color: var(--primary);
  text-decoration: underline;
}

/* line 1, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-SM.scss */
.blog-post-vertical-SM {
  margin-bottom: 20px;
  display: block;
}

/* line 5, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-SM.scss */
.blog-post-vertical-SM .blog-post-title {
  margin-bottom: 5px;
  color: #4d4f4d;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35em;
  padding-left: 105px;
}

/* line 14, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-SM.scss */
.blog-post-vertical-SM .blog-post-date {
  color: #7e93a9;
  font-size: 12px;
  margin-bottom: 0;
  padding-left: 105px;
  text-decoration: none !important;
}

/* line 22, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-SM.scss */
.blog-post-vertical-SM .blog-post-image {
  width: 90px;
  height: 65px;
  float: left;
  margin-right: 15px;
  background-color: #f7f7f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 30, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-SM.scss */
.blog-post-vertical-SM .blog-post-image img {
  object-fit: cover;
  width: 100%;
  height: 65px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 39, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-SM.scss */
.blog-post-vertical-SM a:hover .blog-post-title {
  color: var(--primary);
  text-decoration: underline;
}

/* line 1, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL {
  margin-bottom: 45px;
  padding-bottom: 20px;
  border-bottom: #f1f1f1 solid 1px;
}

/* line 6, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-post-content {
  padding-bottom: 20px;
}

/* line 10, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-post-image-fullwidth {
  max-height: 300px;
  object-fit: cover;
}

/* line 15, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-heading {
  padding-bottom: 15px;
  border-bottom: #f1f1f1 solid 1px;
}

/* line 22, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-post-header .blog-category-name, .blog-post-vertical-XL .blog-post-header .blog-details .blog-detail {
  color: #7e93a9;
}

/* line 26, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-post-header .blog-category-name {
  color: var(--primary);
  font-size: 13px;
}

/* line 31, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-post-header .blog-post-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 1.2;
  margin-bottom: 10px;
}

/* line 37, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-post-header .blog-post-title a {
  color: #4d4f4d;
}

/* line 43, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-post-header .blog-details .blog-detail {
  font-size: 13px;
}

/* line 47, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-post-header .blog-details .blog-detail.blog-detail-author .blog-avatar {
  margin-right: 10px;
}

/* line 51, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-post-header .blog-details .blog-detail.blog-detail-author .blog-detail-author-name {
  color: var(--primary);
}

/* line 60, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-post-image {
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 64, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-post-image.blog-post-image-fullwidth {
  width: 100%;
}

/* line 69, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-post-shortdescription {
  margin-bottom: 20px;
  font-size: 15px;
}

/* line 74, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-actions {
  font-size: 14px;
}

/* line 77, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-actions .blog-action-readmore {
  border-bottom: transparent solid 1px;
  padding: 5px 15px 5px 0;
  position: relative;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* line 83, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-actions .blog-action-readmore:after, .blog-post-vertical-XL .blog-actions .blog-action-readmore:before {
  content: '\f105';
  font-family: "FontAwesome";
  position: absolute;
  font-size: 14px;
  top: 4px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* line 92, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-actions .blog-action-readmore:after {
  right: 4px;
}

/* line 96, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-actions .blog-action-readmore:before {
  right: 12px;
  opacity: 0;
}

/* line 101, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-actions .blog-action-readmore:hover {
  border-bottom-color: var(--primary);
}

/* line 104, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-actions .blog-action-readmore:hover:after {
  right: 0;
}

/* line 108, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-post-vertical-XL .blog-actions .blog-action-readmore:hover:before {
  right: 4px;
  opacity: 1;
}

/* line 119, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post {
  opacity: .15;
  margin-bottom: -150px;
  position: relative;
}

/* line 124, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post .blog-post-image {
  background: #7e93a9;
  height: 100px;
}

/* line 129, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post span {
  background: currentColor;
  min-width: 125px;
  display: inline-block;
  color: #7e93a9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 136, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post span:before {
  content: '|';
  opacity: 0;
}

/* line 141, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post span.blog-detail-author {
  background: transparent;
  min-width: 0;
}

/* line 145, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post span.blog-detail-author:before {
  content: '';
}

/* line 151, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post .blog-post-content {
  border-color: #7e93a9;
}

/* line 155, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post .blog-dummy-fullwidth {
  width: 100% !important;
}

/* line 159, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post .blog-category-name span, .blog-dummy-post .blog-action-readmore, .blog-dummy-post .blog-detail-author-name span {
  color: var(--primary);
}

/* line 163, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post .blog-post-title {
  display: block !important;
}

/* line 166, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post .blog-post-title span {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  width: 50%;
}

/* line 170, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post .blog-post-title span.blog-dummy-fullwidth {
  -webkit-border-radius: 3px 3px 3px 0;
  -moz-border-radius: 3px 3px 3px 0;
  border-radius: 3px 3px 3px 0;
}

/* line 176, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post .blog-post-shortdescription {
  line-height: 15px;
}

/* line 178, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post .blog-post-shortdescription span {
  line-height: 7px;
}

/* line 186, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post .blog-actions .blog-action-readmore:after, .blog-dummy-post .blog-actions .blog-action-readmore:before {
  content: '';
}

/* line 193, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post .blog-details .blog-avatar {
  min-width: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 197, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post .blog-details span {
  vertical-align: middle;
}

/* line 202, /workspace/localsystem/plugins/inbox/plugins/Blog/resources/scss/layouts/components/_blog-post-vertical-XL.scss */
.blog-dummy-post:after {
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  position: absolute;
}

/*# sourceMappingURL=../css/main.map */