.blog-post-vertical-SM {
    margin-bottom:20px;
    display:block;

    .blog-post-title {
        margin-bottom:5px;
        color:$color-text;
        font-weight:600;
        font-size:14px;
        line-height:1.35em;
        padding-left:105px;
    }

    .blog-post-date {
        color:$color-muted;
        font-size:12px;
        margin-bottom:0;
        padding-left:105px;
        text-decoration: none !important;
    }

    .blog-post-image {
        width:90px;
        height:65px;
        float:left;
        margin-right:15px;
        background-color:$light-bg-color;
        @include blog-border-radius(3px);

        img {
            object-fit:cover;
            width:100%;
            height:65px;
            @include blog-border-radius(3px);
        }
    }

    a:hover {
        .blog-post-title {
            color:$color-primary;
            text-decoration:underline;
        }
    }
}
