
<blog-latest-posts></blog-latest-posts>

{#<div class="blog-sidebar-example-block">#}
    {#<p class="blog-example-larger-block">Example</p>#}
{#</div>#}

{#<div class="blog-sidebar-example-block">#}
    {#<p class="blog-example-larger-block">Example</p>#}
{#</div>#}