<div class="blog-sidebar-example-block">
    <p>Example</p>
</div>

<div class="blog-sidebar-example-block">
    <p class="blog-example-larger-block">Example</p>
</div>

<div class="blog-sidebar-example-block">
    <p class="blog-example-larger-block">Example</p>
</div>