#blog-single-layout-center {
    .blog-header {
        background:none;
        border:none;
        padding:0;

        .blog-category-name {
            margin-top:25px;
        }
    }

    .blog-container {
        padding-top:0;
    }

    .blog-single-post {
        margin-bottom:20px;

        .blog-post-title {
            @include blog-breakpoint(laptop) {
                padding:0 10%;
            }
        }

        .blog-body {
            @include blog-breakpoint(laptop) {
                margin-bottom:45px;
            }
        }

        .blog-tags {
            font-family:Georgia, Arial, sans-serif;
            font-style:italic;
            padding:25px 0;

            .blog-tag {
                margin-left:10px;
                color:$color-muted;
            }
        }
    }
}