{#
    This is unused. Loading blog posts via Vue is kinda bad for user experience
    Posts load around half a second after the entire page is loaded, which looks bad
#}

<script type="x/template" id="vue-blog-posts">

    <div>
        works, but it's a bad idea
    </div>

</script>
<script type="text/javascript">
    Vue.component('blog-posts', {

        delimiters: ['${', '}'],

        props: {
        },

        created: function() {
            this.$options.template = '#vue-blog-posts';
        },

        data: function () {
            return {
            };
        },

        methods: {
        }
    });
</script>